Package: ip6tables-mod-nat
Version: 1.6.2-1
Depends: libc, libssp, librt, libpthread, ip6tables, kmod-ipt-nat6
Source: feeds/base/package/network/utils/iptables
License: GPL-2.0
Section: net
Architecture: aarch64_armv8-a
Installed-Size: 161
Description:  iptables extensions for IPv6-NAT targets.
