Package: libcurl
Version: 7.59.0-1
Depends: libc, libssp, librt, libpthread, libmbedtls
Source: feeds/base/package/network/utils/curl
License: MIT
LicenseFiles: COPYING
Section: libs
Maintainer: Imre Kaloz <kaloz@openwrt.org>
Architecture: aarch64_armv8-a
Installed-Size: 107160
Description:  A client-side URL transfer library
