Package: luci-i18n-base-ja
Version: git-17.290.79498-d3f0685-1
Depends: libc, libssp, librt, libpthread, luci-base
Source: feeds/luci/modules/luci-base
Section: luci
Architecture: all
Installed-Size: 24377
Description:  Translation for luci-base - 日本語 (Japanese)
