Package: luci-i18n-base-cs
Version: git-17.290.79498-d3f0685-1
Depends: libc, libssp, librt, libpthread, luci-base
Source: feeds/luci/modules/luci-base
Section: luci
Architecture: all
Installed-Size: 20247
Description:  Translation for luci-base - Čeština (Czech)
