Package: luci-proto-ppp
Version: git-17.290.79498-d3f0685-1
Depends: libc, libssp, librt, libpthread
Source: feeds/luci/protocols/luci-proto-ppp
Section: luci
Architecture: all
Installed-Size: 3087
Description:  Support for PPP/PPPoE/PPPoA/PPtP
