Package: iptables-mod-cluster
Version: 1.6.2-1
Depends: libc, libssp, librt, libpthread, iptables, kmod-ipt-cluster
Source: feeds/base/package/network/utils/iptables
License: GPL-2.0
Section: net
Architecture: aarch64_armv8-a
Installed-Size: 160
Description:  iptables extensions for matching cluster.
 
 Netfilter (IPv4/IPv6) module for matching cluster
 This option allows you to build work-load-sharing clusters of
 network servers/stateful firewalls without having a dedicated
 load-balancing router/server/switch. Basically, this match returns
 true when the packet must be handled by this cluster node. Thus,
 all nodes see all packets and this match decides which node handles
 what packets. The work-load sharing algorithm is based on source
 address hashing.
 
 This module is usable for ipv4 and ipv6.
 
 If you select it, it enables kmod-ipt-cluster.
 
 see `iptables -m cluster --help` for more information.
