Package: iptables-mod-checksum
Version: 1.6.2-1
Depends: libc, libssp, librt, libpthread, iptables, kmod-ipt-checksum
Source: feeds/base/package/network/utils/iptables
License: GPL-2.0
Section: net
Architecture: aarch64_armv8-a
Installed-Size: 161
Description:  iptables extension for the CHECKSUM calculation target
