Package: ip6tables
Version: 1.6.2-1
Depends: libc, libssp, librt, libpthread, kmod-ip6tables, iptables
Source: feeds/base/package/network/utils/iptables
License: GPL-2.0
Section: net
Architecture: aarch64_armv8-a
Installed-Size: 211
Description:  IPv6 firewall administration tool
